.btn-circles{
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  margin-right: 3px;
}

.btn-color1{
  background-color: #6A9AB0;
}

.btn-color2{
  background-color: #001F3F;
}

.btn-color3{
  background-color: #3C3D37;
}